<h1>Claims#show</h1>
<p>Find me in app/views/claims/show.html.erb</p>

Price: <%=@claims.price%><br>
Status: <%=@claims.status%><br>
Tableype_of_claim: <%=@claims.type_of_claim%><br>
Description: <%=@claims.description%><br>
