
      <div id="map"></div>
<div id="pano"></div>


    <script>

      function initialize() {
        var fenway = {lat: <%=@lat%>, lng: <%=@lng%>};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: fenway,
          zoom: 14
        });
        var panorama = new google.maps.StreetViewPanorama(
            document.getElementById('pano'), {
              position: fenway,
              pov: {
                heading: 34,
                pitch: 10
              }
            });
        map.setStreetView(panorama);
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%=@apiKey%>&callback=initialize">
    </script>
