
<div id="mapAllLocations" >
</div>


<script type="text/javascript">
    var locations = [
      ['Brookmont Apartments', 40.1070, -75.0391, 4],
      ['Creek Side Apartments', 40.098469, -74.958537, 5],
      ['Center City', 40.093133, -75.103149, 3],
    ];

    var mapAllLocations = new google.maps.Map(document.getElementById('mapAllLocations'), {
      zoom: 10,
      center: new google.maps.LatLng(40.10, -75.03),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        label: `${i}`,
        map: mapAllLocations
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(mapAllLocations, marker);
        }
      })(marker, i));
    }
  </script>
