
<div class='container'>
  <h1> Latest properties </h1>
<%@properties.each do |f|%>
<a href="/properties/<%=f.id%>"><%=f.title%></a><br>
<div class='thumb_image'><%= image_tag f.image.url(:medium) %></div><br>
<%end%>

</div>

