/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /*
 *= require rails_bootstrap_forms
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #loginPageLeft {position: absolute;
     top:60px;
     left: 6%;
     width : 45%;
     height: 100vh;

     // z-index: 5;
   }

  #loginPageRigth {position: absolute;
      top:60px;
      right: 3%;
      width : 45%;
      height: 100vh;

      // z-index: 5;
    }

    .avatar {position: absolute;
        top:60px;
        left: 6%;
        width : 45%;
        height: 100vh;
        opacity: 0.5;
        // z-index: 5;
      }
.field {
margin:auto;
  width: 80%;
height: 64px;
line-height: 2em;
 color: white;
font-size: 1.1em;
}
.panel {
  width: 80%;
}
#editPageContainer {
  text-align: center;
  background: #fcfcfa;
  color: #818078;
 }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .7;
  font-size: 2em;
  &:before {
    border: 4px solid white;

    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}
.bigFont.btn {font-size: 2em;
              margin-left: 2%;
              margin-right: 3%;
              background: none;
              border: 1px solid white;
              padding-left:  15px;
            padding-right:  15px;}
.bigFont.btn:hover {border: 1px solid silver}

.panel.panel-info
{width: 100%;}
.noBack {background:none; background-color: none; }
#welcomePageDiv{width:auto;
  height: auto;
          position: absolute;
          z-index: 9;
          top:100px;
          left: 300px;}
